.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.svg {
  width: 100%;
  max-width: 150px;
  transform: rotate(-90deg); 
  overflow: visible;
}

.track,
.progress {
  fill: none;
  stroke-width: 12; 
  stroke-linecap: round;
}

.track {
  stroke: #e6e6e6; 
}

.progress {
  stroke: var(--ifm-color-primary); 
  transition: stroke-dashoffset 0.5s ease-out;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  fill: var(--ifm-font-color-base);
  transform: rotate(90deg);
  transform-origin: 50% 50%;

  text-anchor: middle;
  dominant-baseline: middle;
}

.label {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--ifm-color-emphasis-800);
}